.product-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.checkbox-group label {
  font-size: 0.9rem;
  color: #555;
  margin-left: 0.5rem;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

button[type="submit"] {
  padding: 0.8rem;
  background-color:#fa4e9a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #c869c2;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.error-message {
  color: red;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.form-title {
  color:#ffffffdf;
  text-align: center; /* Centrar el título */
  margin-bottom: 20px; /* Espacio entre el título y el formulario */
}
