.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color:#fa4e9a;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-link {
  color: #fa4e9a;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #9c7dce;
}

// En tu archivo SCSS
.cart-link {
  display: inline-flex; // Mostrar como elemento en línea y usar flexbox
  align-items: center; // Centrar verticalmente los elementos
  font-size: 28px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 5%; /* Mover el carrito hacia la izquierda */
  padding: 0; // Eliminar el relleno para que el botón no tenga espacio adicional
  border: none; // Eliminar el borde del botón
  background: none; // Eliminar el fondo del botón
  cursor: pointer; // Cambiar el cursor al pasar sobre el botón
}

.cart-link img {
  width: 35px; /* Tamaño deseado para el icono */
  height: 35px; /* Tamaño deseado para el icono */
  margin-right: 5px; /* Espacio entre el icono y el texto */
}




  
  
  
  