.navbar {
  background-color: #ffffff; /* Color de fondo de la navbar */
  border-bottom: 2px solid #ccc; /* Línea divisoria en la parte inferior */
  padding: 10px 0; /* Espaciado interior */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Para asegurarnos de que esté por encima de otros elementos */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease; /* Transición suave al cambiar el color de texto */
}

.nav-links a:hover {
  color: #007bff; /* Color al pasar el mouse */
  transform: translateY(-5px); /* Efecto de flotación al pasar el mouse */
}

.cart-link {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease; /* Transición suave al cambiar el color de texto */
}

.cart-link:hover {
  color: #007bff; /* Color al pasar el mouse */
  transform: translateX(5px); /* Movimiento hacia la derecha al pasar el mouse */
}


  
  
  
  
  
  