.banner {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // Oculta el desbordamiento para evitar problemas con el video
  margin-bottom: 25px; // Agregar margen inferior de 20px al banner

  video {
    height: 150%;
    object-fit: cover;
    
  }

  .banner-container {
    padding-bottom: 10vh; // Espacio adicional para las cartas
    text-align: center;
  }
}
